body {
    /* put the card in the center of the page */
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/dullbg.gif);
    background-size: cover;
    position: center;

    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 350px;
    height: fit-content;
    padding: 20px;
    border: 5px solid red;
    background-color: white;
    border-radius: 10px;
    border-style: dashed;
}

.carousel img {
    border-radius: 5px;
}

.carousel {
    display: flex;
    overflow-x: scroll;
}

.boots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    --td: 0.15s
}

.boots > a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition-duration: var(--td);
}

.boots > a:hover {
    transform: translateY(-0.5rem);
  }
  
.boots > a > sub {
    position: absolute;
    bottom: -1rem;
    opacity: 0;
    transition-duration: var(--td);
  }

.boots > a:hover > sub {
    bottom: -1.25rem;
    opacity: 1;
  }

.divider1 {
    border: 2px solid red;
    border-radius: 5px;
    border-style: double;
}

svg {
    color: red;
}